@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

.container {
  margin: 2rem auto;
  width: 75%;
}

.form-container {
  text-align: center;
}

.form-container button {
}

.result-container {
  text-align: center;
}

.movie-data-list {
  list-style: none;
  line-height: 2rem;
}

.result-container span {
  font-weight: bold;
}

.result-container img {
  width: 250px;
  border-radius: 10px;
}
